/* основной файл темы */
// здесь исправляем покраску некоторых компонентов VK

html[dir],
[dir] body #page_wrap,
[dir] body {
	background-color: var(--background_page);
}

:root body {
	.post_from_tt_row.active {
		background-color: var(--background_highlighted) !important;
		color: var(--text_primary) !important;
	}

	/* фикс акцентного выбора диалога в новом интерфейсе мессенджера */
	.nim-dialog:not(.nim-dialog_deleted) {
		&:not(.nim-dialog_classic).nim-dialog_selected {
			.nim-dialog--date {
				color: var(--text_secondary);
			}

			.nim-dialog--preview {
				color: var(--text_subhead);
			}
		}

		&.nim-dialog.nim-dialog_selected:hover {
			border-color: var(--separator_alpha);
		}

		&:hover + .nim-dialog.nim-dialog_selected,
		&.nim-dialog_selected + .nim-dialog {
			border-color: var(--separator_alpha);
		}

		&:not(.nim-dialog_classic).nim-dialog_selected .nim-dialog--photo .online.mobile::after {
			--online-badge-background: var(--background_content);
		}

		&:not(.nim-dialog_classic).nim-dialog_selected {
			background-color: var(--background_highlighted);
		}
	}

	/* фикс белых/пустых аватарок */
	.friends_photo_img,
	.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo > img,
	.im_grid > img,
	.nim-peer.nim-peer_smaller .nim-peer--photo > img,
	.nim-peer.nim-peer_small .nim-peer--photo > img,
	img.post_img,
	img.reply_img,
	.im-prebody img {
		background-color: var(--background_light) !important;
	}

	/* фикс попаутов */
	.ReactionsMenu,
	.eltt:not(#audio_layer_tt),
	.ui_actions_menu--actionSheet,
	.vkuiSnackbar__body,
	.vkuiActionSheet {
		--modal_card_background: var(--background_light);
		background-color: var(--modal_card_background);
	}

	.media_link__label,
	.PostBottomAction--withBg {
		background-color: var(--background_light);
	}

	/* фикс иконок в врайтбаре */
	.im-send-btn__icon {
		color: var(--writebar_icon);
	}

	#ads_left.ads_left_empty + .left_menu_nav_wrap {
		border-color: var(--separator_common);
	}

	.msg,
	.box_msg,
	.box_msg_gray {
		background-color: var(--background_content);
	}

	.emoji_smile_cont2:hover {
		background: var(--background_hover);
	}

	.gift_price,
	.gift_free {
		background-color: var(--content_tint_background);
		color: var(--accent);
	}

	.im-page_classic.im-page .im-page--dialogs-search {
		background-color: var(--background_content);
	}

	.olist_item_name {
		color: var(--text_primary);
	}

	nobr#stl_text {
		color: var(--text_secondary);
		filter: grayscale(1);
	}

	.box_controls,
	.box_title_wrap {
		background: var(--modal_card_background);
	}

	.BtAddReportButton {
		color: var(--text_primary);
	}

	.vkuiScreenSpinner .vkuiScreenSpinner__container {
		background: var(--background_light);
	}

	.EcommSkeleton__block:after {
		background: linear-gradient(130deg, rgb(35 35 36 / 0%) 40%, rgb(44 45 46 / 40%), rgb(35 35 36 / 0%) 60%)
			no-repeat -800px 0;
	}

	.docs_action_icon {
		filter: grayscale(1);
	}

	/* лендинги */
	--pagesColorNavSelected: var(--text_primary);
	--colorGray: var(--text_primary);
	--footerBorderColor: var(--separator_alternate);
	--pageButtonBackgroundColor: var(--background_hover);
	--colorNavBorderHover: var(--separator_common);
	--bottomNavTextColor: var(--text_secondary);

	.BlogPage--defaultTheme,
	.BlogPost--defaultTheme {
		--blogPageHeaderTextColor: var(--accent);
		--blogPageCounterColor: var(--text_primary);
	}

	.BlogPostThumb__text {
		color: var(--text_secondary);
	}

	.PageNavigation_wrap {
		background-color: var(--header_background);
	}

	.TeamPageHeader__subtitle,
	.AboutPageMetric__value,
	.PageSectionTitle,
	.PageTitle {
		color: var(--text_primary);
	}

	.AboutLinksItem__subtitle,
	.ScrollElement__subtitle,
	.AboutLocation__description,
	.ProductsLandingItem__subtitle,
	.AboutPageMetric__title,
	.ProductsPageHeader__appDescription {
		color: var(--text_secondary);
	}

	.TeamPageJoinBlock__button {
		color: var(--button_primary_foreground);
		background-color: var(--button_primary_background);
	}

	.PageSection--gradient::before {
		background-image: linear-gradient(
			to bottom,
			rgba(35, 35, 36, 0),
			rgba(35, 35, 36, 0.02) 9%,
			rgba(35, 35, 36, 0.06) 19%,
			rgba(35, 35, 36, 0.12) 28%,
			rgba(35, 35, 36, 0.2) 38%,
			rgba(35, 35, 36, 0.29) 48%,
			rgba(35, 35, 36, 0.39) 57%,
			rgba(35, 35, 36, 0.5) 66%,
			rgba(35, 35, 36, 0.61) 74%,
			rgba(35, 35, 36, 0.71) 81%,
			rgba(35, 35, 36, 0.8) 88%,
			rgba(35, 35, 36, 0.88) 93%,
			rgba(35, 35, 36, 0.95) 97%,
			rgba(35, 35, 36, 0.98) 99%,
			#232324
		);
	}

	/* попап */
	.ChatSettings__content {
		background-color: var(--background_page);
	}

	/* стикеры */
	.im_stickers_promo_banner,
	.im_stickers_bl_wrap {
		background-color: var(--backgroud_page);
	}

	.box_body .im_stickers_store_wrap .ui_tabs {
		border-color: var(--separator_common);
	}

	.im_sticker_bl_info {
		background-color: var(--content_tint_background);
	}

	.im_sticker_bl_name {
		color: var(--text_primary);
	}

	.im_sticker_bl_desc {
		color: var(--text_secondary);
	}

	.page_block .im_stickers_promo_banner,
	.page_block .im_stickers_bl_wrap {
		background-color: var(--background_content);
	}

	/* рекламный кабинет */

	.Header {
		background-color: var(--header_background);
		box-shadow: 0 1px 0 var(--separator_common);
	}

	.HeaderBudget__link,
	.HeaderSectionSwitcher__buttonText {
		color: var(--header_text);
	}

	.HeaderNotifier {
		color: var(--accent);
		--notifier-hover-bg: var(--background_hover);
	}

	.SideOfficeMenu__link:focus,
	.SideOfficeMenu__link:hover,
	.SideOfficeMenu__link--active:focus,
	.SideOfficeMenu__link--active:hover,
	.HeaderSectionSwitcher__button:focus,
	.HeaderSectionSwitcher__button:hover,
	.HeaderProfile:focus,
	.HeaderProfile:hover,
	.HeaderBudget:focus,
	.HeaderBudget:hover {
		background-color: var(--background_hover);
	}

	.HeaderBudget__button a {
		color: var(--accent);
	}

	.SideOfficeMenu__link--active {
		background-color: var(--button_secondary_background);
	}

	.SideOfficeMenu__navList::after,
	.SideOfficeMenu {
		background-color: var(--background_content);
	}

	.SideOfficeMenu__link--active .SideOfficeMenu__linkIcon {
		color: var(--accent);
	}

	.BudgetStats__td--money,
	.Breadcrumb--bold,
	.SideOfficeMenu__link,
	.SideOfficeMenu__linkText {
		color: var(--text_primary);
	}

	.SideOfficeMenu__nav::after {
		background: linear-gradient(rgba(35, 35, 36, 0), var(--background_hover) 70%), 0 100%;
	}

	.SideOfficeMenu__linkIcon {
		color: var(--icon_secondary);
	}

	.BudgetBalance__autoBudget,
	.HeaderProfile__DropdownSeparator,
	.Breadcrumbs__list,
	.SideOfficeMenu,
	.SideOfficeMenu__toggleButton {
		border-color: var(--separator_common);
	}

	.Breadcrumbs {
		background-color: var(--background_content);
	}

	.GoalFormatConverter__withoutGoalBtn,
	.GoalsColumn__header,
	.GoalsColumn__headerText,
	.HeaderProfile__DropdownUserConnect,
	.Breadcrumb__link {
		color: var(--text_secondary);
	}

	.GoalsFilterList__item {
		color: var(--panel_tab_inactive_text);
		background-color: var(--header_background);
		border-color: rgb(0 0 0 / 0);
		transition: 0.3s;
	}

	.HeaderProfile__DropdownUser:hover,
	.HeaderProfile__DropdownRow:hover,
	.GoalsFilterList__item:hover {
		background-color: var(--background_hover);
	}

	.GoalsFilterList__item--selected {
		background-color: var(--panel_tab_active_background);
		border-color: rgb(0 0 0 / 0);
		color: var(--panel_tab_active_text);
	}

	.GoalsList__column,
	.Office__content .ads_edit_page_wrap3,
	.SideMenu__office {
		background-color: var(--background_content);
	}

	.GoalsListItem {
		background-color: var(--background_hover);
		color: var(--text_primary);
		border-color: var(--separator_common);
	}

	.GoalsListItem--disabled,
	.GoalsListItem--disabled:hover {
		background-color: var(--background_hover);
		border-color: var(--separator_common);
	}

	.HeaderProfile__Dropdown {
		background-color: var(--background_content);
		box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 0 0 1px var(--separator_common);
	}

	.HeaderProfile__DropdownUserName,
	.HeaderProfile__DropdownRow {
		color: var(--text_primary);
	}

	.BudgetStats,
	.BudgetBalance {
		background-color: var(--content_tint_background);
		border-color: var(--separator_common);
	}

	/* вкашная покраска тт */
	.PostButtonReactions--post.PostButtonReactions--active .PostButtonReactions__title {
		color: var(--reaction-button-title-color-dark, var(--text_secondary));
	}

	.PostButtonReactions--post.PostButtonReactions--active {
		--post-bottom-action-background-color: var(
			--reaction-button-background-color-dark,
			var(--content_tint_background)
		);
	}

	.left_menu_nav_wrap .ui_actions_menu_icons,
	.left_menu_nav_wrap .ui_actions_menu_icons {
		background: 0 0;
	}

	.nim-peer.nim-peer_small .nim-peer--photo > img::after,
	.nim-peer.nim-peer_small .nim-peer--photo .im_grid > img::after {
		background-color: var(--background_hover);
	}

	.PostBottomAction--withBg::before {
		background-image: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
	}

	.PostBottomAction--withBg:active::before {
		background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
	}

	.PostBottomAction.like.active {
		--post-bottom-action-background-color: var(--like-button-background-color-dark, var(--content_tint_background));
	}

	.StickersPanel__arrow--left {
		background: linear-gradient(to right, #222 0, #222 63%, rgba(34, 34, 34, 0.84) 78%, rgba(34, 34, 34, 0) 100%);
	}

	.StickersPanel__arrow--left {
		background: linear-gradient(to left, #222 0, #222 63%, rgba(34, 34, 34, 0.84) 78%, rgba(34, 34, 34, 0) 100%);
	}

	.StickersPanel__arrow--right {
		background: linear-gradient(to right, rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 0.84) 22%, #222 37%, #222 100%);
	}

	.StickersPanel__arrow--right {
		background: linear-gradient(to left, rgba(34, 34, 34, 0) 0, rgba(34, 34, 34, 0.84) 22%, #222 37%, #222 100%);
	}

	.FeedbackTooltip__wrapper::after {
		background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333);
	}
}

.vkui__root {
	--vkui--color_background_modal: var(--modal_card_background) !important;
}
